# .editorconfig에 대해 자세히 알아보려면 다음을 참조하세요. https://aka.ms/editorconfigdocs

# All files
[*]
indent_style = space

# Xml files
[*.xml]
indent_size = 2


# utf-8 로 자동생성 되도록 만듬
root = true

[*]
charset = utf-8